= form_for @login do |f|
  -if @login.errors.any?
    #error_explanation
      %h2= "#{pluralize(@login.errors.count, "error")} prohibited this login from being saved:"
      %ul
        - @login.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
