- content_for(:title, 'Welcome')

%p Here are your bills:

%table
  %tr
    %th Amount
    %th Name
    %th Description
    %th Due
    %th Paid
    %th

  - @user_bills.each do |user_bill|
    %tr
      %td= user_bill.bill.amount
      %td= user_bill.bill.name
      %td= user_bill.bill.description
      %td= user_bill.bill.due
      - if user_bill.paid
        %td.green
      - else
        %td.red
      %td= link_to "Mark as Paid", user_bill_mark_as_paid_path(user_bill)

%table
  %tr
    %th Number of Bills
    %th Total Due
  %tr
    %td= @user_bills.count
    %td= @sum
    
