%h1 Listing bills

%table
  %tr
    %th Amount
    %th Name
    %th Description
    %th Due
    %th
    %th
    %th

  - @bills.each do |bill|
    %tr
      %td= bill.amount
      %td= bill.name
      %td= bill.description
      %td= bill.due
      %td= link_to 'Show', bill
      %td= link_to 'Edit', edit_bill_path(bill)
      %td= link_to 'Destroy', bill, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Bill', new_bill_path
