- content_for(:title, 'Bill')

%h1 Bill Information

%p#notice= notice

%p
  %b Amount:
  = @bill.amount

%p
  %b Name:
  = @bill.name

%p
  %b Description:
  = @bill.description

%p
  %b Due
  = @bill.due


= link_to 'Edit', edit_bill_path(@bill)
\|
= link_to 'Back', bills_path

%p
  %h1 Users with this bill

%table
  %tr
    %th Username
    %th Paid
    %th

  - @user_bills.each do |user_bill|
    %tr
      %td= user_bill.user.username
      - if user_bill.paid
        %td.green
      - else
        %td.red
      %td= link_to "Mark as Paid", user_bill_mark_as_paid_path(user_bill)
