- content_for(:title, 'User Bills')

%h1 Listing User Bills

%table
  %tr
    %th Bill
    %th Due
    %th Amount
    %th User
    %th Paid
    %th
    %th
    %th
    %th

  - @user_bills.each do |b|      
    %tr
      %td= b.bill.name
      %td= b.bill.due
      %td= b.bill.amount
      %td= b.user.username
      - if b.paid
        %td.green
      - else
        %td.red
      %td= link_to 'Show', b
      %td= link_to 'Edit', edit_user_bill_path(b)
      %td= link_to 'Destroy', b, :method => :delete
      %td= link_to "Mark as Paid", user_bill_mark_as_paid_path(b)

%br

= link_to 'New User bill', new_user_bill_path
