!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title= yield_for(:title, '') + ' - Money Management'
    = stylesheet_link_tag :all, :recursive => true
    = javascript_include_tag "jquery", "jquery.min", "jquery_ujs", "rails", "application", "filter"
    = csrf_meta_tag

  %body
    #wrapper
      #header
        #current-user
          - if session[:user]
            Logged in as: #{session[:user]} (#{link_to "Log out", users_logout_path})
        #title
          Money Management
      #content
        #menu
          = link_to 'Home', users_welcome_path
          - if session[:user] && session[:user][:admin]
            = link_to 'Admin', admin_index_path
            = link_to 'Manage Bills', bills_path
            = link_to 'Manage Users', users_path
            = link_to 'User Bills', user_bills_path
              
        = yield

      #footer
        &copy; #{Date.today.year} TerraCoding

